
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.gal-back{
  width: 1350px;
  height: 1000px; 
  background: url('../images/wood.jpg');
  background-repeat: no-repeat;
  opacity: 90%;
 }

#global_navi {
  opacity: 90%;
  position: absolute;
  padding:0px 100px 300px 5px;
}

#global_navi ul li {
  display: inline-block;
  width: 150px;
  margin-right: 1px;
  text-align: center;
}

#global_navi ul li a {
  display: block;
  padding: 15px 20px;
  background-color: transparent;
  color:  black;
  text-decoration: none;
  transition: background-color .2s linear;
  font-family: 'Noto Serif JP', sans-serif;
}


#global_navi ul li a:hover {
  background-color: #fce2c4;
}

 /* カルーセルの表示エリア */
 .carousel {
  /* 子要素でposition:absoluteを使うために必要 */
  position: relative;
  top:150px;
  left: 800px;
  border:2px solid brown;
  /* 400x400の領域からはみ出た部分は非表示 */
  overflow: hidden;
  width: 500px;
  height: 400px;
}

/* 矢印の基本スタイル */
.carousel-control {
  display: block;
  height: 50px;
  width: 30px;
  background-color: #f0f0f0;
  color: #333;
  line-height:45px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  opacity: .5;

  /* 透明度をふわっと変える演出 */
  transition: opacity .15s;
}
/* マウスが乗ったら濃くする */
.carousel-control:hover {
  opacity: .8;
}

/* 左矢印 */
.carousel-control-prev {
  position: absolute;
  left: 0;
  top: 175px;
  text-indent: -2px;  /* 矢印の横方向の位置を調整する */
}

/* 右矢印 */
.carousel-control-next {
  position: absolute;
  right: 0;
  top: 175px;
  text-indent: 2px;
}

/* スライドのul */
.slides {
  /* .carouselの左上隅に表示 */
  position: absolute;
  top: 0;
  left: 0;

  /* 横に長いひと続きの写真にする */
  width: 99999px;

  /* ulのデフォルトスタイルを消去 */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* 各スライドを横につなげる */
.slides li {
  float: left;
  width: 500px;
  height: 400px;
}


h1{
  position: absolute;
  top:85px;
  left: 880px;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 30px;
}

h2{
  position: absolute;
  top:82px;
  left: 110px;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 30px;
}


.box {
   display: none;
    position: absolute;
    top:160px;
    left:561px;
    height: 200px;
    width: 240px;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;
    opacity: 90%;
}
.box:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
}
.box p {
  position: relative;
  top:  0px;
  left: 0px; 
  font-size: 15px;
  font-family: 'Noto Serif JP', sans-serif;
}
.my-button-in{
  position: absolute;
  top:120px;
  right: 90px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

.my-button-in:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.my-button-out{
  position: absolute;
  top:120px;
  right: 60px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}
.my-button-out:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.my-button-in2{
  position: absolute;
  top:120px;
  left: 470px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

.my-button-in2:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.my-button-out2{
  position: absolute;
  top:120px;
  left: 510px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}
.my-button-out2:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.box2 {
  display: none;
   position: absolute;
   height: 200px;
   width: 240px;
   background: #e6f4ff;
   color: #5c98d4;
   font-weight: bold;
   opacity: 90%;
   top:362px;
   left:561px;
}
.box2:after {
   position: absolute;
   content: '';
   top: 100%;
   left: 30px;
   width: 0;
   height: 0;
}
.box2 p {
 position: relative;
 top:  0px;
 left: 0px; 
 font-size: 15px;
 font-family: 'Noto Serif JP', sans-serif;
}
.box2 ul li{
   font-family: 'Noto Serif JP', sans-serif;
}


.change-images{
  position: absolute;
  top:160px;
  left: 50px;
  border: 2px solid brown;
}


.com1{
  position: absolute;
  top:550px;
  left: 80px;
}

.com2{
  position: absolute;
  top:550px;
  right: 80px;
}

.min{
  position: absolute;
  bottom: -100px;
  left: 150px;
}